<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/header'); %>
</head>
<body>

    <main>
        <div >
          <h1>At least we can see something now</h1>
          <p>This is visual of templating through EJS</p>
        </div>
       </main>
       <footer >
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>



